<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Academic Session</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
    <ul rsf:id="actions:" class="navIntraTool">  
        <li><span><a href="addAcademicTerm.html" rsf:id="actions-add-academic-term">User Not Vote</a></span></li>
</ul>

<h3 rsf:id="academic-term-title">Academic Term</h3>
<table class="listHier lines nolines">
    <thead>
        <tr>
        <th>Academic Session Id</th>        
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>       
        <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-academic-term:">
        <td rsf:id="academic-term-id">Id</td>
        <td rsf:id="academic-term-title">Title</td>
        <td rsf:id="academic-term-description">Description</td>
        <td rsf:id="academic-term-start-date">Start Date</td>
        <td rsf:id="academic-term-end-date">End Date</td>
        <td rsf:id="academic-term-created-by">Created By</td>        
    </tr>
    </tbody>
    
</table>
<!--<ul>
    <li rsf:id="list-glossary:">
        <span rsf:id="glossary_id">Glossary Id</span>
        <span rsf:id="glossary_term">Glossary Term</span>
        <span rsf:id="glossary_description">Glossary Description</span>
        <span rsf:id="glossary_category">Glossary Category</span>        
    </li>
</ul>-->
</div>
</body>
</html>
