<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote Your Other Option!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<style>
    .hide-element{
        display:none
    }    
</style>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">    
<h3 rsf:id="add-academic-term-title">Add Glossary</h3>

<form rsf:id="add-academic-term-form">
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="academic-term-title-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="text" size="50" rsf:id="academic-term-title-input"/>
	</div>
    </div>
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="academic-term-description-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="text" size="50" rsf:id="academic-term-description-input"/>
	</div>
    </div>
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="academic-term-start-date-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="date" size="50" rsf:id="academic-term-start-date-input"/>
	</div>
    </div>
    
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="academic-term-end-date-label">Question</span>
	</label>
	<div class="col-md-2">
            <input type="date" size="50" rsf:id="academic-term-end-date-input"/>
	</div>
    </div>
    
    <input type="text" size="50" rsf:id="academic-term-created-by-input" class="hide-element"/>
    <p class="act">
        <input type="submit" value="Post" rsf:id="submit-new-academic-term" class="active" /> 
<!--        <input name="_cancel" type="submit" value="Cancel" rsf:id="cancel" />
        <input name="glossaryIndex" type="submit" value="See All Glossary" rsf:id="glossaryIndex" />-->
    </p>	    
</form>
</div>
</body>
</html>