<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote Your Other Option!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">    
<h3 rsf:id="add-glossary-title">Add Glossary</h3>

<form rsf:id="add-product-form">
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="product-name-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="text" size="50" rsf:id="product-name-input"/>
	</div>
    </div>
    
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="product-price-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="number" size="50" rsf:id="product-price-input"/>
	</div>
    </div>
    
    <div class="form-group row"> 
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="product-stock-label">Question</span>
	</label>
	<div class="col-md-2">
		<input type="number" size="50" rsf:id="product-stock-input"/>
	</div>
    </div>
    
    <div class="form-group row">
	<label class="col-md-4 col-lg-2 form-control-label">
		<span class="reqStarInline">*</span>
		<span rsf:id="msg=new_product_type">Select Poll Category</span>
	</label>
	<div class="col-md-4">
		<select rsf:id="product-type-id">
			<option value="1">1</option>			
		</select>
	</div>
    </div>
    
    <p class="act">
        <input type="submit" value="Post" rsf:id="submit-new-product" class="active" /> 
    </p>	    
</form>
</div>
</body>
</html>