<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Glossary</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<ul rsf:id="actions:" class="navIntraTool">
  <li><span><a href="addCustomer.html" rsf:id="actions-add-customer">Users Not Vote</a></span></li>  
</ul>
<h3 rsf:id="customer-title">Glossary</h3>
<table class="listHier lines nolines">
    <thead>
        <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Customer Phone</th>
        <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-customer:">
        <td rsf:id="customer-id">Glossary Id</td>
        <td rsf:id="customer-name">Glossary Term</td>
        <td rsf:id="customer-address">Glossary Description</td>
        <td rsf:id="customer-phone">Glossary Category</td>        
        <td>
            <div class="itemAction">
                <a href="editCustomer.html" target="_self"  rsf:id="customer-edit">Edit</a>
            </div>
        </td>
        <td>
            <div class="itemAction">
                <a href="deleteCustomer.html" target="_self"  rsf:id="customer-delete">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
    
</table>
<!--<ul>
    <li rsf:id="list-glossary:">
        <span rsf:id="glossary_id">Glossary Id</span>
        <span rsf:id="glossary_term">Glossary Term</span>
        <span rsf:id="glossary_description">Glossary Description</span>
        <span rsf:id="glossary_category">Glossary Category</span>        
    </li>
</ul>-->
</div>
</body>
</html>
