<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote Your Other Option!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<style>
    .hide-element{
        display:none
    }    
</style>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">    
<h3 rsf:id="add-product-type-title">Add Glossary</h3>

<p rsf:id="product-type-delete-confirm">Delete?</p>

<form rsf:id="add-product-type-form">
    <input type="text" class="hide-element" size="50" rsf:id="product-type-id-input"/>    
    <p class="act">
        <input type="submit" value="Post" rsf:id="submit-new-product-type" class="active" /> 
    </p>	    
</form>
</div>
</body>
</html>