<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Glossary</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<h3 rsf:id="poll-other-option-title">Other Option</h3>
<p rsf:id="poll-title">Poll Title</p>
<p>List of other option for this poll</p>

<table class="listHier lines nolines">
    <thead>
        <tr>        
        <th>Other Option Text</th>        
        <th>User Id</th>        
        <!--<th>User Name</th>-->        
        <th>Vote Date</th>        
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-other-option:">        
        <td rsf:id="other-option-text">Text</td>                
        <td rsf:id="other-option-user-id">user Id</td>                
        <!--<td rsf:id="other-option-user-name">user name</td>-->                
        <td rsf:id="other-option-vote-date">user vote date</td>                
    </tr>
    </tbody>
    
</table>
</div>
</body>
</html>
