<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Glossary</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<!--    <ul rsf:id="actions:" class="navIntraTool">
  <li><span><a href="voteAdd.html" rsf:id="actions-add">Add</a></span></li>
  <li><span><a href="votePermissions.html" rsf:id="actions-permissions">Permissions</a></span></li>
  <li><span><a href="pollGlossary.html" rsf:id="actions-glossary">Glosary</a></span></li>
  <li><span><a href="pollAddGlossary.html" rsf:id="actions-add-glossary">Add Glosary</a></span></li>
  <li><span><a href="userNotVote.html" rsf:id="actions-user-not-vote">Users Not Vote</a></span></li>  
</ul>-->
<h3 rsf:id="poll-by-category-title">Poll Category</h3>
<table class="listHier lines nolines">
    <thead>
        <tr>
        <th>Poll Category Name</th>            
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-poll-category:">
        <!--<td rsf:id="poll-category-id">Category Id</td>-->
        <!--<td rsf:id="poll-category-name">Category Name</td>-->        
        <td><div class="itemAction"><a href="pollByCategory.html" target="_self"  rsf:id="poll-category-id">Edit</a></div></td>
    </tr>
    </tbody>    
</table>

<table class="listHier lines nolines">
    <thead>
        <tr>
        <th>Poll Text</th>            
        <th>Poll Description</th>          
        <th>Opening Date</th>            
        <th>Closing Date</th>            
        <th>Poll Category</th>            
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-poll:">
        <td rsf:id="poll-text">Category Id</td>
        <td rsf:id="poll-description">Category Id</td>        
        <td rsf:id="poll-opening-date">Category Name</td>                
        <td rsf:id="poll-closing-date">Category Name</td>                
        <td rsf:id="poll-category-name">Category Name</td>                
    </tr>
    </tbody>    
</table>
</div>
</body>
</html>
