<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Glossary</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<ul rsf:id="actions:" class="navIntraTool">  
  <li><span><a href="addProduct.html" rsf:id="actions-add-product">Users Not Vote</a></span></li>  
</ul>
<h3 rsf:id="glossary-title">Glossary</h3>
<table class="listHier lines nolines">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Stock</th>
        <th>Product Type</th>
        <th>Amount Selled</th>
        <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-glossary:">        
        <td rsf:id="glossary-term">Glossary Term</td>
        <td rsf:id="glossary-description">Glossary Description</td>
        <td rsf:id="glossary-category">Glossary Category</td>        
        <td rsf:id="glossary-id">Glossary Id</td>
        <td rsf:id="amount-selled">Glossary Id</td>
        <td>
            <div class="itemAction">
                <a href="productEdit.html" target="_self"  rsf:id="product-edit">Edit</a>
            </div>
        </td>
        <td>
            <div class="itemAction">
                <a href="productDelete.html" target="_self"  rsf:id="product-delete">Edit</a>
            </div>
        </td>
        <td>
            <div class="itemAction">
                <a href="productAddStock.html" target="_self"  rsf:id="product-add-stock">Edit</a>
            </div>
        </td>
    </tr>
    </tbody>
    
</table>
<!--<ul>
    <li rsf:id="list-glossary:">
        <span rsf:id="glossary_id">Glossary Id</span>
        <span rsf:id="glossary_term">Glossary Term</span>
        <span rsf:id="glossary_description">Glossary Description</span>
        <span rsf:id="glossary_category">Glossary Category</span>        
    </li>
</ul>-->
</div>
</body>
</html>
