<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Glossary</title>
<link  rsf:id="scr=portal-matter"  href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script  rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
<h3 rsf:id="user-not-vote-title">User Not Vote</h3>
<p rsf:id="user-not-vote-poll-title">User Not Vote</p>
<p rsf:id="user-not-vote-count">Count</p>
<p rsf:id="user-not-vote-count-percent">Count</p>

<table class="listHier lines nolines">
    <thead>
        <tr>        
        <th>Username</th>        
        </tr>
    </thead>
    <tbody>
        <tr rsf:id="list-user-not-vote:">        
        <td rsf:id="user-not-vote-username">Username</td>                
    </tr>
    </tbody>
    
</table>
</div>
</body>
</html>
